<header>
    <div class="container-grid">
        <div class="logo">
            <a href="index.html"><img src="assets/img/logo.png" alt="Logo do site"></a> 
        </div>
        <div class="barrap">
            <img class="pesquisar"  src="assets/img/lupa.png">
            <input id= "pesquisar" type="texto" placeholder="Pesquisar!" onclick="pesquisar()">
        </div>
    </div>
    <div class="topo">
        <a class= "inicio" href="#">Início</a>
        <a class="contato" href="#">Contato</a>     
    </div>            
    <nav id="menu" class="menu">              
        <a href="#">Lançamentos</a>
        <a href="#">Consoles</a>
        <a href="#">Acessórios</a>
        <a href="#">Jogos</a>
        <a href="#">Pc Gamer</a>
    </nav>
    <a href="#" onclick="mostrarMenu()"><img class="icone-menu" src="assets/img/menulateral.png"></a>            
    <nav class="botoes">                           
        <a href="index.html"><img src="assets/img/favoritos.png"></a>
        <a href="index.html"><img src="assets/img/carrinho.png"></a> 
        <a routerLink="/login"><img src="assets/img/user.png"></a>                       
    </nav>
</header>