<footer>
    <div class="colunas-rodape">
        <div class="left"><p>Redes Sociais</p>
            <div class="icones-redes">
                <a href="#"><img src="assets/img/fb.png" alt="Facebook"></a>
                <a href="#"><img src="assets/img/twitter.png" alt="Twitter"></a>
                <a href="#"><img src="assets/img/link.png" alt="LinkedIn"></a>
                <a href="#"><img src="assets/img/instagram.png" alt="Instagram"></a>
            </div>
            <div class="bottom">
                <a href="#">Acessibilidade</a>
                <a href="#">Termos e condições</a>
                <a href="#">Privacidade </a>
            </div>
        </div>
        <div class="center"><p>Sobre nós</p>
            <div class="texto-sobre-nos">
                <p>Lorem ipsum dolor sit<br>amet, consectetur<br>adipisicing elit, sed do<br>eiusmod tempor<br>incididunt ut labore et<br>dolore magna aliqua. Ut<br>enim ad minim veniam, quis<br>nostrud exercitation<br>ullamco laboris nisi ut<br>aliquip ex ea commodo<br>consequat. Duis aute irure<br>dolor in<br>reprehenderit in voluptate velit esse<br>cillum dolore eu fugiat<br>nulla pariatur. Excepteur<br>sint occaecat cupidatat<br>non proident, sunt in<br>culpa qui officia deserunt<br>mollit anim id est<br>laborum</p>
            </div>
            <div class="copyright">
                <img src="assets/img/pacman.png" alt="Pac-man">
                <p> Copyright 2022 © Todos os direitos reservados. O conteúdo do site não pode ser editado, copiado ou distribuído sem expressa autorização.</p>
            </div>
        </div>
        <div class="right"><p>Formas de pagamento</p>
            <div class="pagamento">
                <img src="assets/img/boleto.png" alt="Boleto">
                <img src="assets/img/visa.png" alt="Visa">
                <img src="assets/img/pix.png" alt="Pix">
                <img src="assets/img/mastercard.png" alt="Mastercard">
            </div>
            <div class="idioma">
                <a class= "next" href="#"><img class="next" src="assets/img/next.png"></a>
                <img class="bandeira" src="assets/img/brasil.png" alt="Idioma"> 
                <p href="#">Brasil/Português</p>
            </div>
        </div>
    </div>
</footer>
